In [104]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [2]:
#lets first connect to the webdriver 
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\chromedriver.exe")



Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

    first get the webpage https://www.naukri.com/
    Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
    Then click the search button.
    Then scrape the data for the first 10 jobs results you get.
    Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually

In [3]:
driver.get("https://www.naukri.com/")

In [5]:
#entering “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_location=driver.find_element_by_id('qsb-location-sugg')
search_job.send_keys("Data Analyst")
search_location.send_keys("Banglore")

In [6]:
#clicking the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [7]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [16]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title:
    if i.text is None:
        job_title.append("--")
    else:
         job_title.append(i.text)
    
job_title[0:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Data Analyst',
 'Data Analyst',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst']

In [10]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [17]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:10]

['Inflexion Analytix Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 '(851 Reviews)',
 'Allegis Services India Pvt. Ltd.',
 '(202 Reviews)',
 'Shell India Markets Private Limited',
 '(621 Reviews)',
 'Applied Materials',
 '(94 Reviews)',
 'Tata Consultancy Services Ltd.']

In [15]:
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:10]

['0-3 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '4-9 Yrs',
 '5-8 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs']

In [18]:
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head()

,experience_required,company_name,job_location,job_title
0,0-3 Yrs,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Data Scientist / Data Analyst -Business Analyst
1,0-2 Yrs,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,Data Analyst
2,0-5 Yrs,(851 Reviews),Bangalore/Bengaluru,Hiring Data Analysts For E commerce Platform |...
3,5-8 Yrs,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Data Analyst
4,7-10 Yrs,(202 Reviews),Bangalore/Bengaluru,Data Analyst

In [19]:
driver.close()



Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:

    first get the webpage https://www.naukri.com/
    Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
    Then click the search button.
    Then scrape the data for the first 10 jobs results you get.
    Finally create a dataframe of the scraped data. Note- 1. All of the above steps have to be done in code. No step is to be done manually. WEB SCR

In [20]:
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\chromedriver.exe")

In [24]:
driver.get("https://www.naukri.com/")

In [25]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_location=driver.find_element_by_id('qsb-location-sugg')
search_job.send_keys("Data Scientist")
search_location.send_keys("Banglore")

In [26]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]

In [28]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior / Lead Data Scientist',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Analytics & AI Product Mgmt - Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Data Scientist']

In [29]:
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:10]

['Inflexion Analytix Private Limited',
 'TVS CREDIT SERVICES LIMITED',
 '(779 Reviews)',
 'CES Ltd.',
 '(85 Reviews)',
 'CES Ltd.',
 '(85 Reviews)',
 'GlaxoSmithKline Pharmaceuticals Limited',
 '(851 Reviews)',
 'Vijaya Management Services']

In [30]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [32]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        full_job_description.append(description[0])
    except NoSuchElementException :
        full_job_description.append("--")

In [35]:
driver.close()

In [36]:
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\chromedriver.exe")

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

In [37]:
driver.get("https://www.naukri.com/")

In [38]:
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")

search_field_designation.send_keys("Data Scientist")

In [39]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [40]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [41]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior / Lead Data Scientist',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Analytics & AI Product Mgmt - Sr. Data Scientist',
 'Principal Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist: Computer Vision/Image Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist, Modeling']

In [43]:
sal=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal.click()

In [45]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Other',
 'Mumbai',
 'Mumbai',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)']

In [46]:
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:10]

['Inflexion Analytix Private Limited',
 'TVS CREDIT SERVICES LIMITED',
 '(779 Reviews)',
 'CES Ltd.',
 '(85 Reviews)',
 'CES Ltd.',
 '(85 Reviews)',
 'GlaxoSmithKline Pharmaceuticals Limited',
 '(851 Reviews)',
 'Walmart Global Tech India']

In [48]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:10]

['0-3 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '10-12 Yrs',
 '0-5 Yrs',
 '5-7 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-7 Yrs']

In [51]:
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head(10)

,experience_required,company_name,job_location,job_title
0,0-3 Yrs,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Data Scientist / Data Analyst -Business Analyst
1,3-8 Yrs,TVS CREDIT SERVICES LIMITED,"Pune, Chennai, Bangalore/Bengaluru",Senior / Lead Data Scientist
2,2-7 Yrs,(779 Reviews),"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Senior Data Scientist | CES IT LTD | CMMI Level 5
3,2-7 Yrs,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Senior Data Scientist | CES IT LTD | CMMI Level 5
4,10-12 Yrs,(85 Reviews),Bangalore/Bengaluru,Analytics & AI Product Mgmt - Sr. Data Scientist
5,0-5 Yrs,CES Ltd.,Other,Principal Data Scientist
6,5-7 Yrs,(85 Reviews),Mumbai,Senior Data Scientist
7,4-7 Yrs,GlaxoSmithKline Pharmaceuticals Limited,Mumbai,Senior Data Scientist: Computer Vision/Image A...
8,5-10 Yrs,(851 Reviews),"Pune, Chennai, Bangalore/Bengaluru",Senior Data Scientist
9,3-7 Yrs,Walmart Global Tech India,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...","Senior Data Scientist, Modeling"

In [52]:
driver.close()

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

In [53]:
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\chromedriver.exe")

In [59]:
driver.get("https://www.glassdoor.com/")

In [60]:
search_field_designation=driver.find_element_by_xpath("//input[@id='sc.keyword']")
search_field_designation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath("//input[@id='sc.location']")
search_field_location.send_keys("Noida")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@id='sc.keyword']"}
  (Session info: chrome=90.0.4430.93)

In [61]:
company_ratings=[]
company_name=[]
days_ago=[]

In [62]:
companies=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:10]

[]

In [63]:
ratings=driver.find_elements_by_xpath("//span[@class='compactStars ']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
company_ratings[0:10]

[]

In [64]:
days=driver.find_elements_by_xpath("//div[@data-test='job-age']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text[0])
days_ago[0:2]

[]

In [65]:
driver.close()

In [66]:
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\chromedriver.exe")

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [69]:
driver.get('https://www.flipkart.com/')

In [73]:
Brand_sunglass=[]
Price_sunglass=[]
Discount_sunglass=[]

for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:100]:
        Brand_sunglass.append(j.text)
for k in driver.find_elements_by_xpath("//a[@class='_3bPFwb']")[:100]:
        Price_sunglass.append(k.text)
for l in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")[:100]:
        Discount_sunglass.append(l.text)
url=("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_10_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_10_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=a2e64463-346e-48a4-bde7-6449c21d3f85&as-searchtext=sunglasses")
driver.get(url)

In [79]:
sung=pd.DataFrame({})
sung["Brand"]=Brand_sunglass
sung["Price"]=Price_sunglass
sung["Discount"]=Discount_sunglass

Q7:Scrape 100 review data from flipkart.com from iphone11 phone.

In [80]:
brand=[]
description=[]
price=[]
discount=[]

In [81]:
driver.get('https://www.flipkart.com/')

In [83]:
Rating_iphone=[]
Review_summary=[]
full_review=[]
for i in range(10):
    
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
         Rating_iphone.append(i.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
         Review_summary.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
         full_review.append(k.text)

In [84]:
iphone=pd.DataFrame({})
iphone["Rating"]=Rating_iphone
iphone["Review"]=Review_summary
iphone["full_reviews"]=full_review

Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :

In [86]:
Brand_shoes=[]
Product_description=[]
Price_shoes=[]
discount_shoes=[]
for i in range(10):
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        Brand_shoes.append(j.text)
    for k in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        Product_description.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='product-price']"):
        Price_shoes.append(l.text)
    for m in driver.find_elements_by_xpath("//span[@class='product-discountPercentage']"):
        discount_shoes.append(m.text)
    url=("https://www.myntra.com/shoes?plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0")
    driver.get(url)

In [87]:
shoes=pd.DataFrame({})
shoes["Brand"]=Brand_shoes[:100]
shoes["Description"]=Product_description[:100]
shoes["Price"]=Price_shoes[:100]
shoes["Discount"]=discount_shoes[:100]

In [88]:
shoes

,Brand,Description,Price,Discount
0,Nike,Men ZOOM FREAK 2 Basketball,Rs. 8750Rs. 10295(15% OFF),(15% OFF)
1,ALDO,Men Solid Leather Loafers,Rs. 7799Rs. 12999(40% OFF),(40% OFF)
2,ALDO,Men Perforations Brogues,Rs. 7799Rs. 12999(40% OFF),(40% OFF)
3,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999,(20% OFF)
4,Lacoste,Men Sneakers Casual Shoes,Rs. 10500,(25% OFF)
...,...,...,...,...
95,Puma,Men UltraRide Running Shoes,Rs. 7649Rs. 8999(15% OFF),(20% OFF)
96,UNDER ARMOUR,Women TriBase Reign 2 Training,Rs. 11999,(20% OFF)
97,Skechers,Men SKECH-AIR 92 Sneakers,Rs. 7999,(20% OFF)
98,Nike,Women AIR MAX VERONA Sneakers,Rs. 7496Rs. 9995(25% OFF),(20% OFF)
99,Puma,Unisex RS 2.0 Futura Sneakers,Rs. 7199Rs. 7999(10% OFF),(15% OFF)

In [89]:
driver.close()

Q10: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:

In [90]:
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\chromedriver.exe")

In [91]:
driver.get(' https://www.amazon.in')

In [92]:
Title=[]
Ratings=[]
price=[]

In [93]:
search_bar =driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()
search_bar.send_keys("laptops")
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')
search_button.click()

In [94]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [95]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [96]:
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [97]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [98]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
    except NoSuchElementException   as e:
        Ratings.append("NO rating")

In [99]:
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})

In [100]:
df

                                               Title   Price       Ratings
0  Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...  77,990    4 out of 5
1  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  99,000  4.1 out of 5
2  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  36,990  3.2 out of 5
3  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  33,990  2.6 out of 5
4  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  84,990     NO rating
5  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  77,975  4.4 out of 5
6  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...  42,499     NO rating
7  Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...  77,990    4 out of 5
8  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...  79,900  4.3 out of 5
9  (Renewed) HP EliteBook Folio 1040 G2 Laptop (C...  53,590     NO rating

In [101]:
driver.close()

Q9."https://www.myntra.com/shoes". Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [102]:
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\chromedriver.exe")

In [103]:
driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0%2C6337.0_10225.0_6337.0%20TO%2010225.0')

In [105]:
start_page=0
end_page=0
for page in range(start_page,end_page+1): 
    nxt_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    
    #creating empty lists
    shoe_names=[]
    s_desc=[]
    short_desc=[]
    price=[]
    
    #for scrapping shoe brand names
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in Names:
        shoe_names.append(i.text)
    
    #for scrapping shoe short-description
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    #for scrapping shoe prices
    desc=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in desc:
        price.append(i.text)
    
    #for scrapping the datas from next pages.
    if nxt_button.text=='next':
            nxt_button.click()
            time.sleep(5)
            
    #creating a dataframe to store above scraped details
    df=pd.DataFrame({'Brand': shoe_names,
                    'Short-description': short_desc,
                    'Price': price})
    print(df)

               Brand                    Short-description  \
0               Nike         Men Solid SKYVE MAX Sneakers
1               Puma                    Men Running Shoes
2   ADIDAS Originals       Men Nite Jogger Fluid Sneakers
3               Nike       AIR ZOOM PEGASUS Running Shoes
4               Nike          Men JORDAN DELTA Basketball
5               Nike         Men KD13 EP Basketball Shoes
6               Nike            Men JOYRIDE Running Shoes
7               Nike           Men React Infinity Running
8               Nike                    Men Running Shoes
9       UNDER ARMOUR            Men Liquify Running Shoes
10   PUMA Motorsport       Men Ferrari Race Kart Sneakers
11              Puma                    Men Running Shoes
12      UNDER ARMOUR        Charged Rogue 2 Wide 2E Shoes
13              Nike            Men JORDAN DELTA Sneakers
14         Cole Haan                     Leather Sneakers
15      Hush Puppies    Men Solid Leather Formal Slip-Ons
16              Nike        LEBRON XVIII Basketball Shoes
17              Nike         Women AIR ZOOM Running Shoes
18              ALDO                         Men Sneakers
19   PUMA Motorsport        Unisex Mercedes Running Shoes
20              Nike        Unisex PHANTOM Football Shoes
21              Nike           Men AIR ZOOM Running Shoes
22              Nike       Women PEGASUS 37 Running Shoes
23              Nike            Women REACT Running Shoes
24              Nike           Women REACT ESCAPE Running
25              Puma           Unisex Futurverse Sneakers
26            Reebok           Men Nano X1 Training Shoes
27              Nike               Women AIR ZOOM Running
28      UNDER ARMOUR           HOVR Sonic 3 Running Shoes
29              Nike         Women AIR ZOOM Running Shoes
30              Puma  Men Mesh Fuse Training Or Gym Shoes
31              Puma          Men UltraRide Running Shoes
32              Puma           Men Velocity Nitro Running
33      UNDER ARMOUR           HOVR Sonic 3 Running Shoes
34          Skechers        Men VIPER COMPETITOR Training
35              Puma        Future Rider Twofold Sneakers
36      UNDER ARMOUR       Women TriBase Reign 2 Training
37              Nike           Men AIR MAX EXCEE Sneakers
38      UNDER ARMOUR        Charged Impulse Running Shoes
39              Nike         Women Air Max Siren Sneakers
40              Puma         Unisex RS-FAST TECH Sneakers
41      Hush Puppies                    Men Formal Derbys
42              Puma          SPEED Orbiter Running Shoes
43      UNDER ARMOUR           Women Charged Breathe TR 2
44            ADIDAS       Men ALPHATORSION Running Shoes
45           Saint G            Men Leather Chelsea Boots
46      UNDER ARMOUR           Women HOVR Rise 2 Training
47              Puma                      Unisex Sneakers
48              Puma           Men Liberate Nitro Running
49              Puma             Unisex RS-X Pop Sneakers

                          Price
0     Rs. 7436Rs. 9295(20% OFF)
1     Rs. 7199Rs. 8999(20% OFF)
2    Rs. 8449Rs. 12999(35% OFF)
3                     Rs. 11495
4                     Rs. 12495
5                     Rs. 12995
6   Rs. 11246Rs. 14995(25% OFF)
7   Rs. 11621Rs. 15495(25% OFF)
8                      Rs. 6495
9                     Rs. 10999
10                     Rs. 9999
11                     Rs. 7499
12                     Rs. 7999
13                    Rs. 10995
14                    Rs. 10999
15                     Rs. 8999
16  Rs. 12320Rs. 14495(15% OFF)
17    Rs. 6996Rs. 9995(30% OFF)
18                     Rs. 9999
19                     Rs. 7999
20    Rs. 6396Rs. 7995(20% OFF)
21  Rs. 10796Rs. 13495(20% OFF)
22    Rs. 7496Rs. 9995(25% OFF)
23   Rs. 8996Rs. 11995(25% OFF)
24    Rs. 6636Rs. 8295(20% OFF)
25                     Rs. 9999
26    Rs. 7499Rs. 9999(25% OFF)
27  Rs. 10796Rs. 13495(20% OFF)
28                    Rs. 10999
29   Rs. 8236Rs. 10295(20% OFF)
30                     Rs. 7999
31    Rs. 7649Rs. 8999(15% OFF)
32                    Rs. 10999
33                    Rs. 10999
34                     Rs. 6999
35                     Rs. 6999
36                    Rs. 11999
37    Rs. 6396Rs. 7995(20% OFF)
38                     Rs. 7999
39    Rs. 6556Rs. 8195(20% OFF)
40                     Rs. 9999
41                     Rs. 9999
42   Rs. 7149Rs. 12999(45% OFF)
43                     Rs. 7999
44    Rs. 6499Rs. 9999(35% OFF)
45   Rs. 11305Rs. 11900(5% OFF)
46                     Rs. 9999
47                     Rs. 6499
48                     Rs. 9999
49    Rs. 8499Rs. 9999(15% OFF)